@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
p {
  color: #111111;
}

.invisible {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
p {
  color: #111111;
}

.invisible {
  display: none;
}

header h1 {
  color: #f80605;
  font-weight: 900;
}

main section {
  margin-top: 10rem;
}
main section h2 {
  color: #111111;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

header {
  font-size: 20px;
  color: inherit;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 8rem;
  right: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header h1 {
  font-size: 45px;
}
@media (max-width: 767px) {
  header h1 {
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
  }
}
header a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
header a:hover {
  cursor: pointer;
}
header a.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
header a.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header nav {
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

@media only screen and (max-width: 770px) {
  header {
    justify-content: center;
    position: absolute;
  }
  header nav {
    display: none;
  }
}
footer {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer div#social-icon-container {
  display: flex;
  gap: 1rem;
}
footer div#social-icon-container div.icon-circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: relative;
}
footer div#social-icon-container div.icon-circle img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 23%;
  left: 23%;
}
footer p {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2,
p {
  color: #111111;
}

.invisible {
  display: none;
}

.floating-hamburger-icon {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
@media (min-width: 767px) {
  .floating-hamburger-icon {
    display: none;
  }
}

.floating-navigation-menu {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 335px;
  height: 150px;
  background-color: #f80605;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect */
  z-index: 1;
}

.floating-navigation-menu.show {
  animation: expandMenu 0.3s ease;
}

.floating-navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-navigation-menu li {
  margin: 10px 0;
}

.floating-navigation-menu a {
  text-decoration: none;
  color: white;
}

.floating-menu-close-icon {
  bottom: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

@keyframes expandMenu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  margin: auto;
  width: 65%;
}
form fieldset {
  border: none;
  width: 100%;
}
form fieldset legend {
  font-size: 20px;
  margin-bottom: 2rem;
}
form fieldset input {
  width: 100%;
  outline: none;
  font-size: 20px;
}
form fieldset textarea {
  width: 100%;
  outline: none;
  font-size: 20px;
}
form input[type=button] {
  margin-top: 4rem;
  margin-left: 1rem;
  height: 4em;
  width: 100%;
  background-color: #f80605;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}
form input[type=button]:hover {
  cursor: pointer;
}
form .text-input-field {
  border: none;
  border-bottom: 2px solid #111111;
}
form fieldset#email-field {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
form fieldset#email-field div {
  width: 100%;
}

@media only screen and (max-width: 770px) {
  form {
    width: 90%;
  }
  form fieldset#name-email-field {
    flex-direction: column;
    gap: 2.5rem;
  }
}/*# sourceMappingURL=login.css.map */