@import "../style";

.floating-hamburger-icon {
  @media (min-width: 767px) {
    display: none;
  }
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.floating-navigation-menu {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 335px;
  height: 150px;
  background-color: $primary-red;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect */
  z-index: 1;
}

.floating-navigation-menu.show {
  animation: expandMenu 0.3s ease;
}

.floating-navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-navigation-menu li {
  margin: 10px 0;
}

.floating-navigation-menu a {
  text-decoration: none;
  color: white;
}

.floating-menu-close-icon {
  // position: absolute;
  bottom: 10px;
  width: 24px;
  height: 24px;

  fill: #fff;
}

@keyframes expandMenu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
