header {
  font-size: 20px;
  color: inherit;

  position: fixed;
  top: 0;
  left: 8rem;
  right: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  h1 {
    font-size: 45px;
    @media (max-width: 767px) {
      font-size: 36px;
      text-align: center;
      white-space: nowrap;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    display: inline-block;
    position: relative;
  }

  a:hover {
    cursor: pointer;
  }

  a.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  a.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  nav {
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
}

@media only screen and (max-width: 770px) {
  header {
    justify-content: center;

    nav {
      display: none;
    }
  }
}
