@import "../style";

header {
  h1 {
    color: $primary-red;
    font-weight: 900;
  }
}
main {
  section {
    margin-top: 10rem;

    h2 {
      color: $primary-black;
      font-size: $font-size-title;
      font-weight: $font-weight-title;
      text-align: center;
      font-style: normal;
      line-height: normal;
    }
  }
}
