@import "../style";
@import "../components/header";
@import "../components/sectionPageLayout";
@import "../components/floatingHamburgerIcon";

// modify the h1 in header
h1 {
  color: $primary-red;
}

// Menu List Container styles for mobile
.menu-list-container-mobile {
  /* Add styles for the menu list container on mobile */
  @media (min-width: 768px) {
    display: none; // Hide when screen width > 767px
  }
}

// Menu Container styles for mobile
.menu-container-mobile {
  /* Add styles for each menu container on mobile */
}
.menu-text-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
// Menu Text styles
.menu-text {
  /* Add styles for the menu text container */
  width: 100%;
  text-align: center;
  font-weight: 900;
  @media (max-width: 767px) {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
}

.menu-name {
  font-size: 20px;
}

.menu-price {
  /* Add styles for the menu price text */
  font-size: 15px;
}

.camera-toggle-btn {
}
.camera-icon {
  display: block;
}

.camera-with-slash-icon {
  display: none;
  /* Add styles for the slash icon container */
}
// Menu List Container styles for laptops
.menu-list-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // padding-left: 12px;
  // padding-right: 12px;
  @media (max-width: 767px) {
    display: none; // Hide when screen width < 768px
  }
}
// Menu Container styles for laptops
.menu-container {
  width: 45%;
  margin: 12px;
}

// Menu Image styles
.menu-img {
  display: flex;
  justify-content: center;
}

.menu-img img {
  width: 90%;
}
